{% extends "base.html.twig" %}

{% block content %}
    <div id="homepage">
        <div id="hero">
            <div class="container-40">
                <h1 class="h1">
                    KRAJ<span class="green">!</span>NA
                </h1>
                <h2 class="h2">
                    Výstava o naší krajině,<br>
                    o jejich problémech <br>
                    a možných řešeních.
                </h2>
                <p>
                    8. sprna - 30. září 2021 <br>
                    Út - Ne &emsp; 10:00 - 17:00 <br>
                    Státní hrad Veveří
                </p>
            </div>
        </div>
    </div>
{% endblock %}
