.btn, a.btn {
    background: #00000008;
    border-radius: .5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    cursor: pointer;
    &::after {
        display: none;
    }
    &:hover {
        background: #165C3819;
    }
    h3.h3 {
        padding-bottom: .1rem;
    }
    p {
        padding-bottom: 0;
    }
    &.block {
        display: block;
    }
    &.primary {
        background: #165C38;
        color: #ffffff;
    }
}