footer {
    background: #000000;
    color: #ffffff;
    .container-40 {
        padding-top: 4rem ;
        padding-bottom: 6rem;
    }
    a {
        color: #ffffff;
        &::after{
            background: #0cb35d ;
        }
    }
}