nav {
    position: fixed;
    padding: 1rem 2rem;
    border-bottom: 1px solid #165c38;
    background: #ffffff;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    max-height: 100vh;
    justify-content: space-between;
    z-index: 1000;
    align-items: baseline;
    .col {
        a {
            margin: 0 1rem;
        }
        padding: 0 1rem;
        display: block;
        &.logo { font-size: 1.3rem; font-weight: 400; }
        &.menu {
            display: none;
            padding: 1rem;
            width: 100%;
            order: 2;
            a {
                display: block;
                margin: 1rem 0;
                padding: .5rem;
            }
            &.displayed {
                display: block;
            }
        }
        &.datetime { display: none; }
        @media (min-width: 40rem) {
            &.datetime { display: block}
        }
        @media (min-width: 70rem) {
            &.menu {
                display: block;
                padding: 0;
                width: auto;
                order: 0;
                a {
                    display: inline-block;
                    margin: 0;
                    padding: .1rem .3rem;
                }
            }
            &.menu-toggler { display: none; }
        }
    }
    @media (prefers-color-scheme: dark) {
        background-color: #111111;
        color: #ffffff;
    }
}


