.survey-slider {
    .survey-slide {
        padding-bottom: 5rem;
        .progress {
            background: #165C3819;
            .bar {
                height: 1rem;
                background: #165C38;
            }
        }
        .slide-description {
            display: grid;
            grid-template-columns: 1fr auto;
            padding-bottom: 2rem;
            .right {
                text-align: right;
            }
        }
        p {
            padding: 0;
        }
    }
}