#homepage {
    .hero {
        min-height: 100vh;
        padding-top: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .container-40.ckeditorOutput {
            h2 {
                color: #000000;
            }
        }
    }
    .quote {
        padding-top: 6rem;
        padding-bottom: 5rem;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        background-color: #165c38;
        min-height: 35rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
            font-size: 2rem;
            line-height: 130%;
            color: #ffffff;
        }
    }
    @supports (-webkit-touch-callout: none) {
        .quote {
            background-attachment: initial;
        }
    }
    .text {
        padding: 2rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .authors {
        text-align: center;
        padding: 7rem 0;
        max-width: 70rem;
        margin: auto;
        img.author {
            max-height: 150px;
        }
    }


    @media (prefers-color-scheme: dark) {
    .hero {
        .container-40.ckeditorOutput {
            h2 {
                color: #ffffff;
            }
        }
    }
}
}