.container-40 {
    max-width: 40rem;
    margin-left: auto;
    width: 100%;
    margin-right: auto;
    text-align: left;
    padding: 1rem 1rem;
}


.row {
    @media (min-width: 600px) {
        display: flex;
        .col-6 {
            width: 50%;
        }
    }
}

.green {
    color: #165c38;
}


@media (prefers-color-scheme: dark) {
    .green {
        color: #0cb35d;
    }
}