body, p, h1, h2, h3, h4, h5 {
    font-size: .9rem;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', sans-serif;
    font-weight: 400;
    position: relative;
}

body {
    color: #333333;
    background: #ffffff url("../../img/vrstevnice.svg") fixed top center;
    background-size: 100% auto;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

hr {
    height: 1px;
    border: none;
    margin: 1rem auto;
    max-width: 90rem;
    background: #333333;
}

p { font-size: 1.2rem; padding-bottom: 1.5rem; line-height: 2.4rem; max-width: 45rem;}
.h0 { font-size: 3rem;   padding-bottom: 4rem; line-height: 4rem; font-weight: 900; }
.h1 { font-size: 4.3rem; padding-bottom: 3rem; line-height: 5rem; font-weight: 400; }
.h2 { font-size: 2.5rem; padding-bottom: 3rem; line-height: 3.15rem; font-weight:400; color: #165c38; }
.h3 { font-size: 1.5rem; padding-bottom: 1rem; font-weight: 700;}
.h4 { font-size: 1.1rem; padding-bottom: 1rem;}

.font-italic {
    font-style: italic;
}

@media (min-width: 600px) {
    .h0 { font-size: 5rem; line-height: 6.5rem; }
}


.ckeditorOutput {
    p { font-size: 1.2rem; padding-bottom: 1.5rem; line-height: 2.4rem; max-width: 45rem;}
    h1 { font-size: 4.3rem; padding-bottom: 3rem; line-height: 5rem; font-weight: 400;}
    h2 { font-size: 2.5rem; padding-bottom: 3rem; line-height: 3.15rem; font-weight:400; color: #165c38; }
    h3 { font-size: 1.5rem; padding-bottom: 1rem; font-weight: 700;}
    h4 { font-size: 1.1rem; padding-bottom: 1rem;}
    strong {font-weight: 700;}
}

a {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    //padding: .2rem 0;
    position: relative;
    transition: all .2s;
    padding: .1rem .3rem;
    z-index: 200;
    &::after {
        content: ' ';
        position: absolute;
        display: block;
        right: 0;
        bottom: 0;
        left:0;
        top:0;
        width: 100%;
        height: 100%;
        z-index: -100;
        background: transparent;
        border-bottom: 1px solid rgb(22,92,56);
        transition: all .2s;
    }
    &:hover {
        //color: #ffffff;
        &::after {
            max-height: 100px;
            background: rgba(22,92,56,.1);
        }
    }

    &.clean::after {
        display: none;
    }
    &.img::after {
        display: none;
    }
    &.underlined::after {
        width: 100%;
        right: 0;
    }
}




@media (prefers-color-scheme: dark) {
    body {
        background-color: #111111;
        color: #ffffff;
    }
    .h2 { color: #0cb35d; }
    .ckeditorOutput {
        h2 { color: #0cb35d; }
    }
    a {
        color: #ffffff;
        &::after {
            background: #0cb35d;
        }
    }
}